html, body {
    width: 100%;
    padding:0;
    margin:0;
    height: 100%;
}

#movies img, #movie img {
    width: 100%;
}

img.movie-item:hover {
    z-index: 100;
    border: solid 5px #2a9fd6;
}

@media(min-width:960px){
    #movies col-md-3 .well{
        height: 390px;
    }

    #movies .col-md-3 img {
        height: 240px;
    }
}
